@charset "utf-8";

// Fonts
body {
    font-family: 'Asap Condensed', sans-serif;
}

// Set Brand Colours
$purple: #634F84;
$primary: $purple;

// Active links


// Import all Bulma files
@import "../node_modules/bulma/bulma.sass";