<header>
  {% include /header/nav-bar.html %}
  <section id="site-header" class="hero is-small is-primary">
    <div class="hero-body">
    <figure class="image">
      <img src="https://ucarecdn.com/80911e18-96b0-43d2-9c97-e5b524f2a1cb/" alt="">
    </figure>
    </div>
  </section>
  <section id="page-header" class="hero is-small is-primary">
    <!--<div class="hero-body"> -->
    <figure class="image">
      {% if page.title == "Home" %}
      <img src="https://ucarecdn.com/f326180e-48f4-43f2-86a4-5a878f566caf/" alt="">
      {% elsif page.title == "Books" %}
      <img src="https://ucarecdn.com/f326180e-48f4-43f2-86a4-5a878f566caf/" alt="">
      {% elsif page.title == "Journal" %}
      <img src="https://ucarecdn.com/d84767d5-36d6-4a05-80aa-c3082b404c02/" alt="">
      {% else %}
      <img src="https://ucarecdn.com/d84767d5-36d6-4a05-80aa-c3082b404c02/" alt="">
      {% endif %}
    </figure>
    <!--</div> -->
  </section>
  
</header>