<header>
  {% if page.layout == "page" %}
    <section class="hero is-primary">
  {% else %}
    <section class="hero is-small is-primary">
  {% endif %}
        <div class="hero-body">
          <div class="image">
            <img src="https://ucarecdn.com/
            36539c8b-377e-4680-b625-15aa6aa8308d/" alt="">
          </div>
        </div>
        <!-- Keep out of Master until Launch -->
        <div class="hero-foot">
          <nav class="tabs">
            <div class="container">
              <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/books/">Books</a></li>
                <li><a href="/journal/index.html">Journal</a></li>
                <li><a href="/journal/index.html">Contact</a></li>
              </ul>
            </div>
          </nav> 
        </div>
    </section>
</header>