<header>
  <section class="hero is-primary">
    <div class="hero-body">
    <!-- Responsive images in here -->
    </div>
  </section>
  <nav class="tabs is-centered has-background-primary">
    <ul>
      <li {% if page.title == "Home" %} class="is-active" {% endif %}><a href="/index.html" class="has-text-white">Home</a></li>
      <li {% if page.title == "About" %} class="is-active" {% endif %}><a href="/about.html" class="has-text-white">About</a></li>
      <li {% if page.title == "Books" %} class="is-active" {% endif %}><a href="/books/index.html" class="has-text-white">Books</a></li>
      <li {% if page.title == "Journal" %} class="is-active" {% endif %}><a href="/journal/index.html" class="has-text-white">Journal</a></li>
      <li {% if page.title == "Contact" %} class="is-active" {% endif %}><a href="/contact.html" class="has-text-white">Contact</a></li>
    </ul>
  </nav>
</header>