<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <!-- Use includes in here to ensure consistency -->
    {% include head/meta.html %}
    {% include head/css.html %}
    {% include head/scripts.html %}
  </head>
  <body>
    <header>
      <!-- Use includes - all pages require a similar header -->
      {% include header/main-header.html %}
    </header>
    <main>
      <!-- Main page content -->
      {{ content }}
    </main>
    <hr>
    <p><strong>The name of this page is '{{ page.title }}'</strong></p>
    <footer>
      {% include footer/scripts.html %}
    </footer>
  </body>
</html>