---
layout: page
---
<section class="hero">
    <div class="hero-body">
        <div class="columns">
            <div class="column is-two-thirds">
                <p class="title">
                    {{ page.title }}
                  </p>
                  <p class="subtitle">
                    {{ page.description }}
                  </p>
                  <p class="is-size-7">{{ page.date | date: "%a, %b %d, %Y" }}</p>
            </div>
            <!-- An image to represent categories, hidden on mobile -->
            <div class="column is-hidden-mobile">
                <figure class="image is-128x128">
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                </figure>
            </div>
        </div>
    </div>
</section>
  <main>
    <div class="section">
    <figure class="image is-3by2">
        <img src="{{ page.featured-image }}">
      </figure>
    </div>
    <div class="section">
        {{ content }}
    </div>
  </main>